@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;800&family=Lora:ital,wght@1,500&family=Raleway&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.logo {
    justify-content: start;
}

a {
    text-decoration: none;
}

.sub-menu {
    background-color: #b4b4b457;
    padding: 10px 0;
}

.navbar-nav {
    margin-left: auto;
}

.contact {
    display: flex;
    align-items: center;
    height: 100%;

    h1 {
        font-size: 14px;
        color: #93a1a7;
        font-family: "Karla";
        text-transform: uppercase;
        text-align: center;
        padding-top: 5px;
    }
}

.social {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;

    a:first-child {
        margin-right: 58px;
    }

    a {
        font-size: 14px;
        color: #93a1a7;
        font-family: "Karla";
        text-transform: uppercase;
        text-align: center;
    }

    .img-phone {
        text-align: center;
        font-size: 25px;
        margin-right: 3px;
        width: 13px;
        height: 21px;
        color: wheat;
    }

    .img-mail {
        text-align: center;
        font-size: 25px;
        margin-right: 3px;
        width: 20px;
        height: 15px;
        color: wheat;
    }
}

.navbar {
    padding: 15px;
}

li {
    a {
        font-family: "Karla";
        font-size: 15px;
        color: #93a1a7;

        :hover {
            color: #23282f;
        }
    }
}

ul {
    .btn {
        font-size: 15px;
        border-radius: 19px;
        background-color: #29c2e1;
        color: #ffff;
        font-family: "Karla";
        margin-left: 33px;
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 26px;
        padding-right: 26px;
    }
}

.carousel-caption {
    h1 {
        font-size: 48px;
    }

    p {
        font-size: 14px;
    }
}

.make-your-status {
    margin-top: 90px;
}

.text-status {
    h1 {
        font-family: 'Raleway', sans-serif;
        font-size: 30px;
        font-weight: bold;
        color: #23282f;
        letter-spacing: 1px;
        line-height: 24px;
    }

    .second {
        font-size: 14px;
        color: #23282f;
        padding-top: 9px;
        font-family: "Karla";
    }


    p {
        font-size: 18px;
        font-family: "Karla";
    }

}

.ms-auto {
    margin-left: auto;
}

.for-img {
    width: 585px;
    height: 300px;
    max-width: 100%;
    margin-top: 55px;

    img {
        width: 585px;
        height: 300px;
        max-width: 100%;

    }
}



.first {
    h4 {
        font-size: 20px;
        color: #23282f;
        margin-left: 30px;
    }

    p {
        font-size: 14px;
        color: #23282f;
        margin-left: 30px;
    }
}

.for-btn {
    margin-top: 45px;
    margin-left: 25px;

    .btn {
        font-size: 15px;
        border-radius: 19px;
        background-color: #29c2e1;
        color: #ffff;
        font-family: "Karla";
        padding-left: 26px;
        padding-right: 26px;
    }
}

.carusel-text {
    height: 466px;
    background-color: #e5eef0;
}

.text-h1 {
    h1 {
        margin-top: 100px;
        font-size: 30px;
        letter-spacing: 1px;
        line-height: 24px;
        color: #23282f;
        font-weight: 800;
        font-family: "Raleway";
    }

    p {
        font-size: 18px;
        font-family: "Karla";
        letter-spacing: 1px;
        line-height: 24px;
    }
}
.second{
 p {
        font-size: 15px;
        line-height: 24px;
        color: #55595f;
        font-weight: 400;
        font-family: 'Lora', serif;
        margin-left: 30px;


    }

    .text-by{
        font-family: "Karla";
        font-size: 15px;
        color: #f5a24c;
        margin-left: 30px;
    }
}
.box{
    width: 50px;
    height: 50px;
}
   







@media (max-width: 992px) {
    .sub-menu {
        display: none;
    }

    .for-img {
        margin-bottom: 25px;
    }

    .for-btn {
        .btn {
            margin-bottom: 20px;
        }
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0px;
        padding-left: 39px;
    }
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1170px;
    }

}