/* Error: Expected expression.
 *     ,
 * 118 |             font-family: ;
 *     |                          ^
 *     '
 *   css\app.scss 118:26  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected expression.\a     \2577 \a 118 \2502              font-family: ;\d\a     \2502                           ^\a     \2575 \a   css\\app.scss 118:26  root stylesheet";
}
