@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;800&family=Lora:ital,wght@1,500&family=Raleway&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logo {
  justify-content: start;
}

a {
  text-decoration: none;
}

.sub-menu {
  background-color: rgba(180, 180, 180, 0.3411764706);
  padding: 10px 0;
}

.navbar-nav {
  margin-left: auto;
}

.contact {
  display: flex;
  align-items: center;
  height: 100%;
}
.contact h1 {
  font-size: 14px;
  color: #93a1a7;
  font-family: "Karla";
  text-transform: uppercase;
  text-align: center;
  padding-top: 5px;
}

.social {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: flex-end;
}
.social a:first-child {
  margin-right: 58px;
}
.social a {
  font-size: 14px;
  color: #93a1a7;
  font-family: "Karla";
  text-transform: uppercase;
  text-align: center;
}
.social .img-phone {
  text-align: center;
  font-size: 25px;
  margin-right: 3px;
  width: 13px;
  height: 21px;
  color: wheat;
}
.social .img-mail {
  text-align: center;
  font-size: 25px;
  margin-right: 3px;
  width: 20px;
  height: 15px;
  color: wheat;
}

.navbar {
  padding: 15px;
}

li a {
  font-family: "Karla";
  font-size: 15px;
  color: #93a1a7;
}
li a :hover {
  color: #23282f;
}

ul .btn {
  font-size: 15px;
  border-radius: 19px;
  background-color: #29c2e1;
  color: white;
  font-family: "Karla";
  margin-left: 33px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 26px;
  padding-right: 26px;
}

.carousel-caption {
  top: 50%;
}
.carousel-caption h1 {
  font-size: 48px;
}
.carousel-caption p {
  font-size: 14px;
}

.make-your-status {
  margin-top: 90px;
}

.text-status h1 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #23282f;
  letter-spacing: 1px;
  line-height: 24px;
}
.text-status .second {
  font-size: 14px;
  color: #23282f;
  padding-top: 9px;
  font-family: "Karla";
}
.text-status p {
  font-size: 18px;
  font-family: "Karla";
}

.ms-auto {
  margin-left: auto;
}

.for-img {
  width: 585px;
  height: 300px;
  max-width: 100%;
  margin-top: 55px;
}
.for-img img {
  width: 585px;
  height: 300px;
  max-width: 100%;
}

.first h4 {
  font-size: 20px;
  color: #23282f;
  margin-left: 30px;
}
.first p {
  font-size: 14px;
  color: #23282f;
  margin-left: 30px;
}

.for-btn {
  margin-top: 45px;
  margin-left: 25px;
}
.for-btn .btn {
  font-size: 15px;
  border-radius: 19px;
  background-color: #29c2e1;
  color: white;
  font-family: "Karla";
  padding-left: 26px;
  padding-right: 26px;
}

.carusel-text {
  background-color: #e5eef0;
}

.text-h1 h1 {
  margin-top: 100px;
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 24px;
  color: #23282f;
  font-weight: 800;
  font-family: "Raleway";
}
.text-h1 p {
  font-size: 18px;
  font-family: "Karla";
  letter-spacing: 1px;
  line-height: 24px;
}

.second p {
  font-size: 15px;
  line-height: 24px;
  color: #55595f;
  font-weight: 400;
  font-family: "Lora", serif;
  margin-left: 30px;
}
.second .text-by {
  font-family: "Karla";
  font-size: 15px;
  color: #f5a24c;
  margin-left: 30px;
  margin-bottom: 95px;
}

.carousel-height {
  justify-content: center;
}

.img-box img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.distance {
  margin-top: 195px;
}

.carousel-inner {
  overflow: unset;
}

.img-shape-2 {
  margin-right: 30px;
}

.text-features {
  margin-top: 95px;
  margin-bottom: 55px;
}
.text-features h1 {
  font-weight: bold;
  font-family: "Karla";
  font-size: 30px;
  color: #23282f;
  padding-top: 100px;
}
.text-features p {
  font-family: "Karla";
  font-size: 18px;
  color: #23282f;
}

.card-btn {
  text-align: center;
}
.card-btn .btn {
  font-size: 15px;
  border-radius: 19px;
  background-color: #29c2e1;
  color: white;
  font-family: "Karla";
  padding-left: 26px;
  padding-right: 26px;
}

.for-border-radius {
  background-color: #ffffff;
  border: 1px solid #e6edee;
  box-shadow: 35px 0 17px -4px #e8edf0;
}

.personal-line {
  width: 34px;
  height: 1px;
  background-color: #f7931d;
  margin-bottom: 22px;
}

.div-for-muve {
  text-align: center;
}

.text {
  margin-top: 35px;
}
.text h5 {
  font-weight: bold;
  font-size: 20px;
}
.text p {
  color: #65686e;
  font-size: 18px;
}
.text p span {
  color: #f7931d;
}

.text-p-business {
  margin-top: 50px;
  margin-bottom: 95px;
  font-size: 15px !important;
}

.card-btn-2 {
  margin-bottom: 35px !important;
}

.div-box-for-margin {
  margin-bottom: 100px;
}

.for-bacground {
  background-color: #e5eef0;
}

.for-img-and-width {
  margin-bottom: 100px;
  background-color: #ffffff;
  border: 1px solid #e6edee;
  box-shadow: 35px 0 17px -4px #c2c2c2;
  border-radius: 0;
}

.card-title {
  font-family: "Karla";
  color: #23282f;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 20px;
  font-weight: bold;
}

.card-text {
  font-size: 14px;
  font-family: "Karla";
  color: #f69b37;
}

.p-h5-text {
  margin-bottom: 30px;
  margin-top: 20px;
}

.text-h-center {
  text-align: center;
}
.text-h-center h1 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
}
.text-h-center h1 span {
  color: #f5a24c;
}
.text-h-center p {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  color: #59686c;
}

.box-btn {
  justify-content: center;
  margin-bottom: 100px;
}
.box-btn .btn-left {
  margin-right: 30px;
}

.text-color h3 {
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #23282f;
}
.text-color h5 {
  margin-bottom: 15px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #93a1a7;
}

.input-group-text {
  background-color: #29c2e1;
  color: white;
}

.for-radius {
  margin-bottom: 100px;
}

.tranparent {
  border: 1px solid #e6edee;
  border-left: transparent;
  border-right: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
}

.triagle-flex {
  display: flex;
  position: relative;
  justify-content: flex-end;
  border: 1px solid #e6edee;
  border-left: transparent;
  border-right: transparent;
  border-top: transparent;
}

.triagle {
  display: block;
  width: 0;
  height: 0;
  margin-top: 15px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 85px solid #29C2E1;
  margin-right: -30px;
  z-index: 99999;
}

.second-triagle {
  display: block;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #F79B38;
}

@media (max-width: 576px) {
  .distance {
    margin-top: 20px;
    padding-bottom: 45px;
  }

  .carousel-height {
    max-width: 100%;
  }

  .cebb {
    text-align: center;
  }
}
@media (max-width: 992px) {
  .text-color {
    text-align: center;
  }

  .sub-menu {
    display: none;
  }

  .for-img {
    margin-bottom: 25px;
  }

  .distance {
    margin-top: 20px;
    padding-bottom: 45px;
  }

  .for-btn .btn {
    margin-bottom: 20px;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0px;
    padding-left: 39px;
  }
}
@media (min-width: 1400px) {
  .container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    max-width: 1170px;
  }
}

/*# sourceMappingURL=style.css.map */
